set_io --warn-no-port led7   C10
set_io --warn-no-port led6   A10
set_io --warn-no-port led5   D7
set_io --warn-no-port led4   D6
set_io --warn-no-port led3   A7
set_io --warn-no-port led2   C7
set_io --warn-no-port led1   A4
set_io --warn-no-port led0   C4
set_io --warn-no-port lcol0  A12
set_io --warn-no-port lcol1  D10
set_io --warn-no-port lcol2  A6
set_io --warn-no-port lcol3  C5
set_io --warn-no-port clk    P7
