set_io --warn-no-port led0   C10
set_io --warn-no-port led1   A10
set_io --warn-no-port led2   D7
set_io --warn-no-port led3   D6
set_io --warn-no-port led4   A7
set_io --warn-no-port led5   C7
set_io --warn-no-port led6   A4
set_io --warn-no-port led7   C4
set_io --warn-no-port lcol0  A12
set_io --warn-no-port lcol1  D10
set_io --warn-no-port lcol2  C5
set_io --warn-no-port lcol3  A6
set_io --warn-no-port clk    P7
